<h1>Fitbit Demo 2</h1>
<div *ngIf="!tokenRegistered">
    <h2>Please Authorize </h2>
    <p> Login to fitbit here:
    <a
            href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227S5Y&scope=activity%20heartrate%20sleep&redirect_uri=http://localhost:8088/services/after">login</a>
    </p>
</div>
<div *ngIf="tokenRegistered" class="demo">
    <section class="hr">
        <div class="heart"  [ngStyle]="{'animation': hbAnim}">{{hr}}</div>
        <figure class="pulseChart">
            <base-chart class="chart"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></base-chart>
        </figure>
    </section>
    <section class="walk">
        <walk-sample></walk-sample>
    </section>



</div>
