<div id="canvas">







    <div class='me'  [ngStyle]="{'animation-duration': walkAnimSpeed}">

        <div class="torso" [ngStyle]="{'animation-duration': walkAnimSpeed}">
            <div class="left leg">
                <div class="left thigh">
                    <div class="left shin">
                        <div class="left foot">
                            <div class="left toes"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- left leg -->

            <div class="right leg">
                <div class="right thigh">
                    <div class="right shin">
                        <div class="right foot">
                            <div class="right toes"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- right leg -->

            <div class="left arm">
                <div class="left bicep">
                    <div class="left forearm"></div>
                </div>
            </div> <!-- left arm -->

            <div class="right arm">
                <div class="right bicep">
                    <div class="right forearm"></div>
                </div>
            </div> <!-- right arm -->

        </div> <!-- torso -->
    </div> <!-- me -->

</div> <!-- canvas -->