<div id="canvas">







    <div class='me'  [ngStyle]="{'animation-duration': walkAnimSpeed}">

        <div class="torso" [ngStyle]="{'animation-duration': walkAnimSpeed}">
            <div class="left leg" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                <div class="left thigh" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                    <div class="left shin" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                        <div class="left foot" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                            <div class="left toes" [ngStyle]="{'animation-duration': walkAnimSpeed}"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- left leg -->

            <div class="right leg" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                <div class="right thigh" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                    <div class="right shin" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                        <div class="right foot" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                            <div class="right toes" [ngStyle]="{'animation-duration': walkAnimSpeed}"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- right leg -->

            <div class="left arm" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                <div class="left bicep" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                    <div class="left forearm" [ngStyle]="{'animation-duration': walkAnimSpeed}"></div>
                </div>
            </div> <!-- left arm -->

            <div class="right arm" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                <div class="right bicep" [ngStyle]="{'animation-duration': walkAnimSpeed}">
                    <div class="right forearm" [ngStyle]="{'animation-duration': walkAnimSpeed}"></div>
                </div>
            </div> <!-- right arm -->

        </div> <!-- torso -->
    </div> <!-- me -->

</div> <!-- canvas -->